body {
  background: url(2.png);
}

.game {
  width: 325px;
  color: white;
  font-family: system-ui;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  font-weight: 600;
}

.title {
  background: #000000;
  color:white ;
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
}

span {
  color: #FFFFFF;
}

.square {
  width: 100px;
  height: 100px;
  background: #7F7F7F;
  float: left;
  margin: 1px;
  font-size: 65px;
}
.square:hover {
  background: #8B8989;
  cursor: pointer;
}

.reload {
  margin-left: 27%;
  width: 150px;
  background: #000000;
  padding: 20px 0;
  font-size: 20px;
}
